:root {
  --from: rgb(175, 46, 192);
  --to: rgb(133, 34, 146);
}
.App {
  height: 100vh;
  display: flex;
  color: white;
}

.appAside {
  width: 45%;
  background-color: #35858b;
  background-image: url("./pages/assets/images/img4.jfif");
  /*background-image: linear-gradient(black,rgb(58, 7, 58),black);*/
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appForm {
  width: 55%;
  /*background-image: url(./pages/assets/images/blue.jpeg);*/
  background: linear-gradient(to top right, #000000 2%, #660033 100%);
  padding: 25px 40px;
  overflow: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 20px #6fddda;
  -moz-box-shadow: 0 0 20px #6fddda;
  box-shadow: 0 0 20px #6fddda;
}

.pageSwitcher {
  margin-bottom: 10%;
  margin-top: 10%;
}

.pageSwitcherItem {
  background-color: #40434e;
  color: #9da6b1;
  padding: 2.5vh 7vw;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}
.pageSwitcherItem:hover {
  box-shadow: 0 12px 16px 0 #4fbdba3d, 0 17px 50px 0 #4fbdba30;
}
.pageSwitcherItemActive {
  background-color: #4fbdba;
  color: white;
}

.pageSwitcherItem:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.pageSwitcherItem:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.formCenter {
  margin-bottom: 100px;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLink:first-child {
  margin-left: 0;
}

.formTitleLinkActive {
  color: white;
  border-bottom: 1px solid #35858b;
}

.formField {
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.formFieldInput {
  width: 60%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldButton {
  background-color: #4fbdba;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  margin-bottom: 2vh;
  margin-left: 2vh;
  font-size: 0.8em;
  font-weight: 500;
}
.formFieldButtonDirected {
  background-color: #4fbdba;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  margin-bottom: 2vh;
  margin-left: 2vh;
  font-size: 0.8em;
  font-weight: 500;
}
.formFieldButton:hover {
  box-shadow: 0 12px 16px 0 #4fbdba3d, 0 17px 50px 0 #4fbdba30;
}

.formFieldLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #35858b;
  padding-bottom: 5px;
}

.formFieldTermsLink {
  color: white;
  border-bottom: 1px solid #35858b;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.drop {
  width: 60%;
  color: #35858b;
  padding-top: 1vh;
  justify-content: center;
  display: block;
  margin: 0 auto;
}

.typed-out {
  font-size: 10vh;
  color: papayawhip;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 10s steps(20, end) forwards, blink 0.8s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.glow {
  font-size: 80px;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px var(--from), 0 0 20px var(--from), 0 0 30px var(--from),
      0 0 40px var(--from);
  }
  to {
    text-shadow: 0 0 20px var(--to), 0 0 30px var(--to), 0 0 40px var(--to),
      0 0 50px var(--to);
  }
}

.typingDemo {
  width: 100%;
  animation: typing 1.8s steps(8), blink 0.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Roboto;
  font-size: 5em;
  color: white;
}

@media only screen and (max-width: 900px) {
  .typingDemo {
    font-size: 3em;
  }
}
@media only screen and (max-width: 600px) {
  .typingDemo {
    font-size: 1.8em;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*SCROLL*/
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4fbdba;
  border-radius: 0.5vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6fddda;
}
